[submodule "vendor/tokens"]
	path = vendor/tokens
	url = https://github.com/ozgurgunes/chassis-tokens
[submodule "vendor/css"]
	path = vendor/css
	url = https://github.com/ozgurgunes/chassis-css
	branch = dev/new-site
[submodule "vendor/assets"]
	path = vendor/assets
	url = https://github.com/ozgurgunes/chassis-assets
