# Prettier ignore
*.css
*.scss
/source
packages/icons/build/templates/*.hbs
packages/icons/codepoints.json
packages/icons/test/golden
packages/icons/icons
packages/icons/svgs
packages/site/config.yml
packages/site/content
packages/site/src/assets
/vendor
pnpm-lock.yaml
