---
import IconsLayout from '@layouts/IconsLayout.astro'
import List from '@components/icons/List.astro'
import Home from '@components/icons/Home.mdx'
---

<IconsLayout frontmatter={{ title: 'Chassis Icons' }} id="icons-layout">
  <div class="row py-medium-4xlarge text-center">
    <h1>Comprehensive Icon Library for Chassis UI</h1>
    <p class="lead">
      Chassis - Icons are available as SVG sprite and icon font. Easy to use for developer and in direct control of
      designer by components design tokens.
    </p>
  </div>
  <nav class="sticky-top bg-main mb-xlarge" style="top: 4rem; z-index: 10;">
    <ul id="icons-nav" class="nav nav-underline justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="#icons-section">Sprite</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#install-section">Install</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#usage-section">Usage</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#styling-section">Styling</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#accessibility-section">Accessibility</a>
      </li>
    </ul>
  </nav>
  <List />
  <Home />
</IconsLayout>
