---
import BaseLayout from '@layouts/BaseLayout.astro'
import MastHead from '@components/home/MastHead.astro'
import Icons from '@components/home/Icons.astro'
---

<BaseLayout>
  <MastHead />
  <div class="container-2xlarge cxd-gutter masthead-followup">
    <Icons />
  </div>
</BaseLayout>
