---
import type { LayoutOverridesHTMLAttributes } from '@chassis-ui/docs'
import BaseLayout from '@chassis-ui/docs/layouts/BaseLayout.astro'
import '@scss/docs.scss'
import '@scss/_icons.scss'

const bodyProps: LayoutOverridesHTMLAttributes<'body'> = {}

bodyProps['id'] = 'icons-body'
bodyProps['data-cx-spy'] = 'scroll'
bodyProps['data-cx-target'] = '#icons-nav'
---

<BaseLayout {...Astro.props} layout="icons" overrides={{ body: bodyProps }}>
  <div slot="main" class="container-2xlarge cxd-gutter">
    <slot />
  </div>
</BaseLayout>
